<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpointUrl</key>
	<string>mongo-connector-preview-1.ditto.dittolive.app</string>
	<key>appId</key>
	<string>put appId here</string>
	<key>authToken</key>
	<string>put authToken here</string>
</dict>
</plist>
