<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>endpointUrl</key>
	<string>mongo-connector-preview-1.ditto.dittolive.app</string>
	<key>appId</key>
	<string>d3150393-4873-47d7-b371-2323733f846e</string>
	<key>authToken</key>
	<string>b58770d7-8c56-44d0-a27a-30ee61280e4f</string>
</dict>
</plist>
